<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>12,17,3</string>
		<key>name</key>
		<string>江浙沪</string>
	</dict>
	<dict>
		<key>id</key>
		<string>220</string>
		<key>name</key>
		<string>杭州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>36</string>
		<key>name</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>id</key>
		<string>38</string>
		<key>name</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>id</key>
		<string>152</string>
		<key>name</key>
		<string>南京</string>
	</dict>
	<dict>
		<key>id</key>
		<string>154</string>
		<key>name</key>
		<string>苏州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>230</string>
		<key>name</key>
		<string>温州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>225</string>
		<key>name</key>
		<string>宁波</string>
	</dict>
	<dict>
		<key>id</key>
		<string>288</string>
		<key>name</key>
		<string>成都</string>
	</dict>
	<dict>
		<key>id</key>
		<string>39</string>
		<key>name</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>id</key>
		<string>386</string>
		<key>name</key>
		<string>深圳</string>
	</dict>
	<dict>
		<key>id</key>
		<string>377</string>
		<key>name</key>
		<string>广州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>229</string>
		<key>name</key>
		<string>台州</string>
	</dict>
	<dict>
		<key>id</key>
		<string>376</string>
		<key>name</key>
		<string>佛山</string>
	</dict>
	<dict>
		<key>id</key>
		<string>257</string>
		<key>name</key>
		<string>武汉</string>
	</dict>
	<dict>
		<key>id</key>
		<string>119</string>
		<key>name</key>
		<string>济南</string>
	</dict>
	<dict>
		<key>id</key>
		<string>202</string>
		<key>name</key>
		<string>西安</string>
	</dict>
	<dict>
		<key>id</key>
		<string>313</string>
		<key>name</key>
		<string>昆明</string>
	</dict>
	<dict>
		<key>id</key>
		<string>111</string>
		<key>name</key>
		<string>沈阳</string>
	</dict>
</array>
</plist>
