<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brand_id</key>
		<string>18</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>宝马</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>14</string>
		<key>brand_py</key>
		<string>A</string>
		<key>name</key>
		<string>奥迪</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>38</string>
		<key>brand_py</key>
		<string>D</string>
		<key>name</key>
		<string>大众</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>159</string>
		<key>brand_py</key>
		<string>X</string>
		<key>name</key>
		<string>现代</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>29</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>别克</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>162</string>
		<key>brand_py</key>
		<string>X</string>
		<key>name</key>
		<string>雪佛兰</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>52</string>
		<key>brand_py</key>
		<string>F</string>
		<key>name</key>
		<string>福特</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>48</string>
		<key>brand_py</key>
		<string>F</string>
		<key>name</key>
		<string>丰田</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>26</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>本田</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>103</string>
		<key>brand_py</key>
		<string>M</string>
		<key>name</key>
		<string>马自达</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>132</string>
		<key>brand_py</key>
		<string>R</string>
		<key>name</key>
		<string>日产</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>58</string>
		<key>brand_py</key>
		<string>H</string>
		<key>name</key>
		<string>哈弗</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>24</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>奔驰</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>117</string>
		<key>brand_py</key>
		<string>Q</string>
		<key>name</key>
		<string>起亚</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>28</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>标致</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>163</string>
		<key>brand_py</key>
		<string>X</string>
		<key>name</key>
		<string>雪铁龙</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>136</string>
		<key>brand_py</key>
		<string>S</string>
		<key>name</key>
		<string>三菱</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>27</string>
		<key>brand_py</key>
		<string>B</string>
		<key>name</key>
		<string>比亚迪</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>144</string>
		<key>brand_py</key>
		<string>S</string>
		<key>name</key>
		<string>斯柯达</string>
	</dict>
	<dict>
		<key>brand_id</key>
		<string>133</string>
		<key>brand_py</key>
		<string>R</string>
		<key>name</key>
		<string>荣威</string>
	</dict>
</array>
</plist>
